.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 2rem 40px 2rem;
}

.list {
  counter-reset: num;
  list-style-type: none;
  position: relative;
}

.lastUpdate {
  color: var(--text-sub);
  font-style: italic;
  font-size: 14px;
}
