.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 2rem 40px 2rem;
}

.list {
  counter-reset: num;
  list-style-type: none;
  position: relative;
}
.list .listItem {
  margin-bottom: 1px;
}
.list .listItem::before {
  position: absolute;
  box-sizing: border-box;
  font-variant-numeric: tabular-nums;
  counter-increment: num;
  content: counter(num)'.';
  left: 0;
  margin-left: 4px;
  min-width: 32px;
  text-align: right;
}
.list .listItemFocused::before {
  border-left: 3px solid; 
}
